---
type Props = {
  content: string;
};
const {content} = Astro.props;
---

<h1
  class='flex w-full max-w-[90rem] items-center justify-center bg-black py-14 text-[1.75rem] uppercase leading-normal tracking-[0.125rem] text-white sm:py-24 sm:text-[2.5rem] sm:font-bold sm:leading-[2.75rem] sm:tracking-[0.08931rem]'
>
  {content}
</h1>
