---
type Props = {
  content: string;
};
const {content} = Astro.props;
---

<h2
  class='text-[1.75rem] uppercase leading-normal tracking-[0.0625rem] text-black sm:text-[2.5rem] sm:font-bold sm:leading-[2.75rem] sm:tracking-[0.08931rem]'
>
  {content}
</h2>
