---
import ProductsSummary from './ProductsSummary.astro';
---

<nav
  class='absolute left-0 top-[5.62rem] z-50 w-full max-w-md rounded-b-lg bg-orange-400 bg-white px-6 py-10 sm:px-10 sm:py-[4.19rem]'
>
  <ProductsSummary />
</nav>
