---
import ProductsSummary from './ProductsSummary.astro';
---

<nav
  class='absolute left-0 top-[5.62rem] z-50 col-span-10 hidden w-full rounded-b-lg bg-white px-6 py-10 sm:px-10 sm:py-[4.19rem]'
  id='MobileMenu'
>
  <ProductsSummary />
</nav>
