---
type Props = {
  content: string;
  link: string;
};
const {content, link} = Astro.props;
---

<a
  href='/'
  target='_blank'
  rel='noopener noreferrer'
  class='mx-auto flex h-12 w-40 cursor-pointer items-center justify-center border-none bg-[#D87D4A] text-sm font-bold uppercase leading-normal text-white outline-none transition-colors ease-in-out hover:bg-[#FBAF85]'
>
  {content}
</a>
